/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/

.topsec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
}

.bottomsec {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 200px;
    width: 100%;
}

.bottomsec > div {
    border: 2px solid black;
    flex: 2;
    margin: 1%;
}

.bottomsec > div h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25%;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

body {
    background-color: pink;
    background-image: url(worldmap.png);
    background-size: cover;
}

#Shanghai {
    background-image: url("shanghai.gif");
    background-size: cover;
    color: white;
    border-radius: 20%;
}

#NewYork {
    background-image: url("newyork.gif");
    background-size: cover;
    color: white;
    border-radius: 20%;
}

#Berlin {
    background-image: url("berlin.gif");
    background-size: cover;
    color: white;
    border-radius: 20%;
}

#Sydney {
    background-image: url("sydney.gif");
    background-size: cover;
    color: white;
    border-radius: 20%;
}

#MexicoCity {
    background-image: url("mexicocity.gif");
    background-size: cover;
    color: white;
    border-radius: 20%;
}
